.env
cache/
out/
broadcast/

.foundry/                                                                                                                                                    
  lib/*.zip  
